*{
    font-family: sans-serif;
}
body{
    margin: 0px;

}
#navbar{
    background-color: rgb(20, 19, 19);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-size: 14px;
    height: 100%;
    
}
#navbar a{
    text-decoration: none;
    color: white;
    padding: 3%;
    
}
#navbar a:hover {
    color: rgb(190, 181, 181);
}
#firstimage{
    width: 100%;
    height: 100%;

    background-color: black;
    /* display: flex; */

}
#firstimage p{
    text-align: justify;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 30px;
}   
#firstimage h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
#firstimage img{
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}
#watchevent{
    border-radius: 20px;
    padding: 10px;
    margin-left: 45%;
    margin-right: 45%;
    border: white solid;
    background-color: transparent;
    color: white;
    font-size: 14px;
}
#watchevent:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}